
body
{
	 SCROLLBAR-FACE-COLOR:#d1d1d1;/*滚动条凸出部分的颜色*/
	 SCROLLBAR-HIGHLIGHT-COLOR:#ffffff; /*滚动条空白部分的颜色*/
	 SCROLLBAR-SHADOW-COLOR:#ffffff; /*立体滚动条阴影的颜色*/
	 SCROLLBAR-3DLIGHT-COLOR:#ffffff; /*滚动条亮边的颜色*/
	 SCROLLBAR-ARROW-COLOR:#ffffff; /*上下按钮上三角箭头的颜色*/
	 SCROLLBAR-TRACK-COLOR:#ffffff; /*滚动条的背景颜色*/
	 SCROLLBAR-DARKSHADOW-COLOR:#ffffff; /*滚动条强阴影的颜色*/
	 SCROLLBAR-BASE-COLOR:#ffffff; /*滚动条的基本颜色*/
	}

body,td,th,input 
{
	margin:0px;
	font-family: 微软雅黑;
	font-size: 13px;
 }

.allRegion
{
	margin:0px;
	height:100%;
}


/*页面导航字体*/
.title
{
    border-bottom:1px solid  #0099cc; 
	margin: 5px; 
	padding:2px 2px 2px 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #0099CC;
	font-family: 微软雅黑;
	font-size: 13px;	
	
}
.titlebg
{
	background-image:url(../image/write.png);
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:24px;
	}

.titleSpan
{
	font-size: 12px;
	color: #999999;
	line-height: 5px;
	padding-right: 5px;
	padding-left: 5px;
	line-height:24px;
}	


/* 区域*/
.region
{
	/*border:1px solid #0099CC;*/
	margin:5px;
	padding:0px;
	width:100%;
	height:100%; 
	}

.requireSpan
{
	color:blue;
	font-weight:bold;
	font-size:13px;
}


/*带边框表格*/
.tableborder 
{
	border-collapse:collapse;
	}
.tableborder td
{
	border:1px solid #ccc;
	}
	

/*新增input样式*/
.txtBorder
{
	border:1px solid #9a9a9a;
}

textarea
{
	border:1px solid #95b8e7;
}

.searchPanel{
	background: none repeat scroll 0 0 #f4f4f4;
}

td {
	font-size: 16px;
	height: 34px;
	white-space: nowrap;
}

table#menuTb td{
	height: 30px;	
}

td.list{
	height: 24px;	
}
td.input{
	height: 34px;	
}

/*----------改变字体大小-----begin-------*/
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.tabs {
    font-size: 16px!important;
    line-height: 18px!important;
}
.tabs ul {
    height: 36px!important;
}
.calendar * {
	font-size: 12px!important;
}
.calendar-day, .datebox-button td{
  height: 12px!important;
}
.datebox-button a {
    font-size: 16px;
}
.textbox-icon,
.searchbox-button,
.slider-handle,
.menu-text,
.combo-arrow {
  height: 30px;
}
.datagrid-header .datagrid-cell span {
    font-size: 16px;
}
.textbox .textbox-text  {
    font-size: 16px;
}
.l-btn-text {
    font-size: 16px;
    line-height: 30px;
}
body, td, th, input, select {
    font-size: 16px!important;
}
.titleSpan {
    font-size: 16px;
    line-height: 30px;
}
.pagination span {
    font-size: 16px;
}
.pagination-info {
    font-size: 16px;
}
.panel-title {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
}
.tabs-title {
    font-size: 16px;
}
.combobox-item, .combobox-group {
    font-size: 16px;
}
.ztree * {
    font-size: 16px!important;
}
#menu {
    width: 90px!important;
}
.combobox-item-hover {
  background-color: #dbeaf9;
}
.datagrid-row-over, .datagrid-header td.datagrid-header-over {
    background: none repeat scroll 0 0 #dbeaf9;
}
/*----JS修改-----
1. $.fn.textbox.defaults.height
从22修改为30

*/

/*----------改变字体大小-----end-------*/